/* body {
    background:
     
    url(/Users/dyaneshdhawale/Desktop/vodeo/client/assets/cool-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
} */